#container3{
    border: 0px solid red;
    margin-top: 5px; 
}
#container3>div{
    margin-top:0px;
}
#container3>:nth-child(1) img{
  width: 100%;height: 130px;
 
}
#container3>:nth-child(2){
    display: flex;width: 100%;
    
}
#container3>:nth-child(2) img{
    width: 100%;height: 500px;
    transition: 0.5s;
}

#img1:hover{
    transform:scale(1.1);
    z-index: 2; 
}
#img2:hover{
    transform:scale(1.1);
    z-index: 2; 
}

#container3>:nth-child(3) img{
    width: 100%; height: 130px;
}
.bot{

    width: 20px;height: 20px;
    background-color: white;
}
.img45{
    
    border: 0px solid red;
    width: 100%;height: auto;
    overflow: hidden;
}
.hower a{
    color: black;
    text-decoration: none;
    font-weight: 400;
    border: 0px solid red;
    width: 50px;height: 100%;
    padding: 10px;
    font-family: montserrat, sans-serif;
}
.hower :hover{
    border-bottom: 3px solid rgb(255, 217, 0);;
}