#footer{
    padding: 10%;
    background-color: #181818;
    color: white;
}
#footer>:nth-child(1){
    color: #fdd835;

}
#card h4{
    color: #fdd835;
}
#card{
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
}

hr{
    border: 1px solid white;
}
.card2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 30px;
}

#last{
    padding: 0% 10% 2% 10%;margin-top: 0px;
    background-color: #181818;
    color: white;
}
#input1{
    background: transparent; width: 130px;
    border: 0px;outline: none;height: 25px; color: white;
    border-bottom: 2px solid #fdd835;margin-right: -20px;
}
form button{
    width: 140px;height: 31px;
    border: 0px;background-color: #fdd835;
    
}

.bot2{
    width: 20px;width: 20px;
    display:inline;
    
}

@media all and (min-width:350px) and (max-width:750px){

    #card{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,auto);
        gap: 2px;
    }
    .card2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 5px;
    }

}